<template>
  <div id="app">
    <Main-Layout></Main-Layout>
  </div>
</template>

<script>
import MainLayout from './components/MainLayout.vue'
export default {
  components: {
    MainLayout
  }
}
</script>
